html {
    background-color: white;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0%, 30%;
    width: 250px;
    height: 850px;
    border: 10px solid;
    margin: 5px auto;
    margin-top: 40px;
}

div {
    border-radius: 90% 90% 90% 90%;
    margin-left: 0px;
    width: 200px;
    height: 200px;
    margin-top: 5px;
    background-color: red;
    animation: black 2s;
    border: 10px solid;
}

@keyframes black {
    100% {
        border-radius: 90% 90% 90% 90%;
        background: black;
    }
}

nav {
    border-radius: 90% 90% 90% 90%;
    margin-left: 0px;
    width: 200px;
    height: 200px;
    background-color: rgb(255, 214, 78);
    animation: black 5s;
    border: 10px solid;
}

p {
    border-radius: 90% 90% 90% 90%;
    margin-left: 0px;
    width: 200px;
    height: 200px;
    background-color: rgb(255, 214, 78);
    animation: black 7s;
    border: 10px solid;
}

article {
    border-radius: 90% 90% 90% 90%;
    margin-left: 0px;
    width: 200px;
    height: 200px;
    background-color: green;
    animation: black 9s;
    margin-bottom: 5px;
    border: 10px solid;
}

h1 {
    color: white;
}